body{
    background-color: rgb(212, 212, 212);
}

.container-fluid{
    padding-left: 20%;
    padding-right: 20%;
    justify-content: flex-start !important;
}

.bi{
    color: rgb(179, 179, 179);
    align-self: center;
}

.navbar-nav {
    margin-right: 10px !important;
}

#icons {
    margin-left: auto;
    display: flex;
}

#icons > .bi{
    margin-left: 20px;
}

.highl{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    border-bottom: 0.5px solid rgb(179, 178, 178);
}

.bi-pencil-fill, .bi-award-fill, .bi-star-fill, .bi-compass-fill{
    color: black;
    align-self: flex-start;
    margin-right: 10px;
}

#carouselExampleDark{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 15px;
}


#car {
    position: relative;
}

.carousel-control-prev{
    top: 45%;
    left: 17%;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 5px solid rgb(177, 177, 177);
    border-radius: 50%;
}

.carousel-control-next{
    top: 45%;
    right: 17%;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 5px solid rgb(177, 177, 177);
    border-radius: 50%;
}


.aa{

    top: 45%;
    left: 17%;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    
}

.bb{
    top: 45%;
    right: 17%;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
}

.carousel-indicators{
    top: 102%;
   
}

.carousel-indicators [data-bs-target] {
    background-color: rgb(109, 107, 107);
}

.cards{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.card-text{
    color:  rgb(131, 129, 129);
    margin-bottom: 30px;
}

.icon-price{
    justify-content: space-between;
}

.icon-price > span{
    color: rgb(97, 96, 96);
}

.bi-windows{
    color: rgb(151, 150, 150);
    align-self: center;
    margin-right: 12px;
}

#disclaimer {
    width: 100%;
    border-top: 1px solid rgb(155, 155, 155);
    border-bottom: 1px solid rgb(155, 155, 155);
    display: flex;
    padding: 10px 20%;
    margin-top: 30px;
}

#firstspan {
    margin-right: 20px;
    border-right:1px solid rgb(155, 155, 155);
    font-size: 13px;
    
}

#secondspan svg {
    color: rgb(107, 0, 139);
    margin-bottom: 1px;
}


#secondspan {
    font-size: 14px;
    color: rgb(107, 0, 139);  
    font-weight: 600; 
}

.highl2{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    border-bottom: 0.5px solid rgb(189, 189, 189);
}

h5{
    margin-right: 20px;
}

.highl2>h5:nth-of-type(1n +2){
   color: rgb(107, 0, 139);
}


.rowdiv{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    flex-wrap: nowrap;
    height: 400px;
}

.rowdiv> div> img{
    height: 400px;
   margin-right: 20px;
}

.rowdiv> div> div{
    padding:0px;
}

.rowcard > div > div{
    height: 195px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.rowcard > div > div .icon-price{
 
    margin: 10px;

}

.card p{
    margin: 10px;
}

.dtr {
    margin-top: 40px;
}

.container{
    background-color: black;
}

.navart {
    border: none !important;
    background-color: rgb(54, 54, 54);

}

.navart1{
    border: none!important;
}